.App {
  text-align: center;
  font-family: "pressStart2P", Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

@font-face {
  font-family: pressStart2P;
  src: url(../public/PressStart2P-Regular.ttf);
}

#canvas-container {
  border: 4px solid #754a1e;
  border-radius: 8px;
  height: calc(100vh - 8px);
  max-height: 740px;
  width: 1000px;
  margin: auto;
}

.plant-modal,
.harvest-modal,
.market-modal,
.new-player-modal {
  background: #ac7339;
  width: 400px;
  position: absolute;
  margin: auto;
  padding: 40px 20px;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  top: 20vh;
  border-radius: 8px;
  border: 4px solid #754a1e;
}

.bottom-container {
  position: relative;
  top: -85px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
}

.player-info {
  background: #ac7339;
  height: 60px;
  width: 280px;
  display: flex;
  padding: 0 0 20px 20px;
  border-radius: 8px;
  border: 3px solid #754a1e;
}

.inventory {
  height: 60px;
  width: 140px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-radius: 8px;
  border: 3px solid #754a1e;
}

.market-header {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.sell {
  margin-top: 40px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

h1 {
  animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
